.egesz{
    width: 750px;
    height: 116,75px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 60px;
    padding-right: 20px;
}

img{
    float: left;
}

l{
}

kl,l{
    padding-left: 5px;
}

kl{
    font-size: 85%;
    font-style: italic;
}

.link{
    font-size: 125%;
    padding-left: 5px;
    fo
}

.szoveg{
    padding-top: 7px;
    padding-left: 4px;
    text-indent: 4px;
    letter-spacing: 1px;
}

datum{
    color: gray;
}

h1{
    text-align: center;
}

nav{
    background-color: black;
}

.kep{
}

footer{
        background-color:rgb(91, 128, 197);
}

.minikep{
    margin-top: 9px;
}